@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --spotify-green: #1DB954;
  --card-bg: #181818;
  --card-hover: #282828;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}